body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
  font-family: "Great Vibes", cursive;
}
nav ul{
    align-items: center;
    display: flex;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color:white
}
nav ul li{
    padding: 0 12px;
}
.brand img{
     width:45px;
     padding: 0 8px;
}
.brand{
    display:flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}